
body {
    background-color: whitesmoke;
    font-family:'Muli', sans-serif;
}

header {
    text-align: center; 
}

.main-container {
    background-color: white;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
    padding: 30px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid whitesmoke;
}

textarea {
    width: 100%;
    border-style: dashed;
    border-color: lightgray;
    border-radius: 2px;
}

#generate {
    float: left; 
    background-color: #cc0000;
    color: white;
    border-radius: 8px;
    padding: 10px;

}

#copy {
    float: right;
}
